<h1>My Profile</h1>
<div>
	<div class="form-item">
		<label>Display Name:</label> <span ng-if="!editingProfile">{{profile.displayName}}</span><input ng-if="editingProfile" type="text" ng-model="newProfile.displayName" /> <tooltip message="Your display name will be the name that's publically displayed throughout the website."></tooltip>
	</div>
	<div class="form-item">
		<label>First Name:</label> <span ng-if="!editingProfile">{{profile.firstName}}</span><input ng-if="editingProfile" type="text" ng-model="newProfile.firstName" />
</div>
	<div class="form-item">
		<label>Last Name:</label> <span ng-if="!editingProfile">{{profile.lastName}}</span><input ng-if="editingProfile" type="text" ng-model="newProfile.lastName" />
</div>
	<button ng-if="!editingProfile" ng-click="toggleEditProfile()">Edit Profile</button>
	<button ng-if="editingProfile" class="green" ng-click="saveProfile()">Save Changes</button>
	<button ng-if="editingProfile" class="red" ng-click="cancelEditing()">Cancel</button>
</div>