<div ng-controller="adminController">
    <h1>Admin Management Console</h1>

    <h2>Sound Management</h2>
    <div ng-controller="soundManagementController" ng-include="'/Content/Areas/Admin/Templates/soundManagement.html'"></div>

    <h2>Coupon Management</h2>
    <div ng-controller="couponManagementController" ng-include="'/Content/Areas/Admin/Templates/couponManagement.html'"></div>
</div>