<div class="block-first">
	<input type="text" placeholder="ex. Animals" ng-model="newCategory.name"/>
	<input type="text" placeholder="ex. All wild animals." ng-model="newCategory.description"/>
	<button ng-click="addCategory(newCategory)">+ Add a Category</button>
	<label>Search Categories:</label><input type="search" ng-model="searchData.term" ng-model-options="{ debounce: 300 }" ng-change="search()"/>
	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>No. Sounds Assigned To</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-show="categories.length === 0">
			<td colspan="4">No categories could be found.</td>
		</tr>
		<tr ng-repeat="category in categories">
			<td>{{category.id}}</td>
			<td>{{category.name}}</td>
			<td>{{category.description}}</td>
			<td>{{category.numberOfSoundsAssignedTo}}</td>
			<td><bth-delete del-confirm-action="deleteCategory(category)" del-small="true"></bth-delete></td>
		</tr>
		</tbody>
	</table>
</div>