<div class="block-first">
	<!--<input type="file" accept="audio/*" fileread="soundUpload.file"/>-->
	<button ng-file-select ng-file-change="upload($files)" ng-multiple="true" accept="audio/*">Select File</button>
	
	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Categories</th>
			<th>Tags</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-if="soundFiles.length === 0">
			<td colspan="5"><i ng-if="isLoadingSounds" class="fa fa-spinner fa-spin"></i><span ng-if="!isLoadingSounds">No sound files were found.</span></td>
		</tr>
		<tr ng-repeat="file in soundFiles">
			<td>{{file.id}}</td>
			<td>{{file.name}}</td>
			<td>{{file.description}}</td>
			<td><span ng-hide="file.categories.length > 0">None</span><span ng-show="file.categories.length > 0" ng-repeat="category in file.categories">{{category.name}} <bth-delete del-confirm-action="deleteCategoryFromSound(category)" del-small="true"></bth-delete></span><input type="text" typeahead="cat as cat.name for cat in categories" ng-model="file.newCategory" typeahead-on-select="addCategoryToSound(file)"/></td>
			<td><span ng-hide="file.tags.length > 0">None</span><span ng-show="file.tags.length > 0"></span></td>
		</tr>
		</tbody>
	</table>
</div>