<div class="block-first">
	<!--<input type="file" accept="audio/*" fileread="soundUpload.file"/>-->
	<button ng-file-select ng-file-change="upload($files)" ng-multiple="true" accept="audio/*">Select File</button>
	<label>Search Sounds:</label><input type="search" ng-model="searchData.term" ng-change="search()" ng-model-options="{ debounce: 300 }"/>
	<table>
		<thead>
		<tr>
			<th bth-sortable text="Id" ng-click="setSortField('id')"></th>
			<th bth-sortable text="Name" ng-click="setSortField('name')"></th>
			<th bth-sortable text="Description" ng-click="setSortField('description')"></th>
			<th bth-sortable text="Price" ng-click="setSortField('price')"></th>
			<th bth-sortable text="Categories" ng-click="setSortField('categories')"></th>
			<th bth-sortable text="Tags" ng-click="setSortField('tags')"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-if="soundFiles.length === 0">
			<td colspan="5"><i ng-if="isLoadingSounds" class="fa fa-spinner fa-spin"></i><span ng-if="!isLoadingSounds">No sound files were found.</span></td>
		</tr>
		<tr ng-repeat="file in sounds | orderBy:sortField:sortReverse">
			<td>{{file.id}}</td>
			<td>{{file.name}}</td>
			<td>{{file.description}}</td>
			<td>£{{file.price}}</td>
            <td><span ng-hide="file.categories.length > 0">None</span><lozenge ng-show="file.categories.length > 0" ng-repeat="category in file.categories" func="myfunc(category, file)">{{category.name}}</lozenge> <i class="fa fa-plus" ng-click="toggleAddNewCategory(file)"></i> <input ng-show="file.addNewCategory" type="text" typeahead="category as category.name for category in getCategories($viewValue)" ng-model-options="{ debounce: 300 }" ng-model="file.newCategory" typeahead-on-select="addCategoryToSound(file, file.newCategory)" /></td>
			<!--<td><span ng-hide="file.categories.length > 0">None</span><span ng-show="file.categories.length > 0" ng-repeat="category in file.categories">{{category.name}} <bth-delete del-confirm-action="deleteCategoryFromSound(file, category)" del-small="true"></bth-delete></span> <i class="fa fa-plus" ng-click="toggleAddNewCategory(file)"></i> <bth-select ng-if="file.addNewCategory"></bth-select></td>-->
			<td><span ng-hide="file.tags.length > 0">None</span><span ng-show="file.tags.length > 0" ng-repeat="tag in file.tags">{{tag.name}} <bth-delete del-confirm-action="deleteTagFromSound(file, tag)" del-small="true"></bth-delete></span> <i class="fa fa-plus" ng-click="toggleAddNewTag(file)"></i> <input ng-show="file.addNewTag" type="text" typeahead="tag as tag.name for tag in getTags($viewValue)" ng-model="file.newTag" ng-model-options="{ debounce: 300 }" typeahead-on-select="addTagToSound(file, file.newTag)" /></td>
		</tr>
		</tbody>
	</table>
</div>