<div class="block-first">
	<input type="text" ng-model="newTag.name"/>
	<button ng-click="addTag(newTag)">+ Add a Tag</button>
	<label>Search Tags:</label><input type="text" model="searchData.term"/>
	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>No. Sounds Assigned To</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-show="tags.length === 0">
			<td colspan="3">No tags could be found.</td>
		</tr>
		<tr ng-repeat="tag in tags">
			<td>{{tag.id}}</td>
			<td>{{tag.name}}</td>
			<td></td>
			<td><bth-delete del-confirm-action="deleteTag(tag)" del-small="true"></bth-delete></td>
		</tr>
		</tbody>
	</table>
</div>