/* Variables */
/* #region Colours */
$color-white: white;
$color-blue: #3ca1df;
$color-dark-blue: #77AEAB;
$color-light-blue: #80B8B2;
$color-header-link: $color-white;
$color-lightest-grey: #f9f9f9;
$color-light-grey: #e5e5e5;
$color-grey: #A9A9A9;
$color-body: #383838;
$color-red: #e31313;
$color-green: #14c327;

$opacity-button-hover: 0.85;
/* #endregion */

/* #region Misc */
$border-radius: 5px;
/* #endregion */

/* #region Selectors */
$sel-input-boxes: 'input[type=text], input[type=coupon], input[type=date], input[type=search], input[type=password]';
/* #endregion */

/* #region Buttons and Inputs */
$padding-inputs: 5px;
$padding-inputs-sides: $padding-inputs * 2;

$height-inputs: 30px;
/* #endregion */

/* #region Font Sizes */
$font-size-header-link: 16px;
$font-size-main: 14px;
$font-size-h6: 16px;
$font-size-h5: 18px;
$font-size-h4: 20px;
$font-size-h3: 22px;
$font-size-h2: 24px;
$font-size-h1: 26px;
/* #endregion */

/* #region Header & Navigation */
$padding-header: 14px;
$padding-header-s: 14px;
$padding-container: 18px;

$height-navbar: ($padding-header * 2) + $font-size-header-link;

$margin-header-links: 5px;

$sel-navbar: '.navbar-left, .navbar-right';
/* #endregion */

/* #region Main Body & Containers */

$margin-block: 20px;

/* #endregion */

/* #region Sound Containers */
$padding-sound-block: 15px;
/* #endregion */

/* #region Tables */
$padding-table-td: 5px;
$padding-table-sides: $padding-table-td * 2;
/* #endregion */