@import 'Config.scss';

.fa-trash, .fa-close, .fa-check, .fa-plus {
	cursor: pointer;

	&:hover {
		opacity: $opacity-button-hover;
	}
}

.fa-trash, .fa-close {
	color: $color-red;
}

.fa-check {
	color: $color-green;
}

.fa-plus {
	color: $color-blue;
}