@import 'Config.scss';

/* #region Div Clearfix */
div:before,
div:after {
  display: table;
  content: " ";
}

div:after {
  clear: both;
}
/* #endregion */

/* #region Main Containers */
html, body {
    font-family: 'Open Sans';
}

.body-content {
    margin: $height-navbar auto 0;
    background: $color-lightest-grey;
    width: 90%;
    padding: $padding-container;
}

.main-container {
    padding: $padding-container;
}
/* #endregion */

/* #region Sound Containers */
.sound-block {
	padding-bottom: $padding-sound-block;
}
/* #endregion */